/*头部分*/
.fr {
    float: right;
}

.header {
    height: 140px;
    background: #F0F3EF;
    position: relative;
}

.header .w {
    position: relative;
}

.header .logo a {
    position: absolute;
    top: 7px;
    left: 100px;
    width: 176px;
    height: 62px;
    background: url("../images/logo-login.png") no-repeat;
}

/*顶部导航栏：我的京东，网站导航，企业采购，客户服务公共样式*/
#wdjd,
#qycg,
#khfw,
#wzdh {
    position: relative;
    width: 73px;
    height: 32px;
}

#wdjdt,
#qycgt,
#khfwt,
#wzdht {
    position: absolute;
    width: 73px;
    text-align: center;
    z-index: 11;
    border: 1px solid transparent;
    border-bottom: none;
    border-top: none;
}

#khfw_inner {
    display: none;
    width: 160px;
    left: -87px;
    position: absolute;
    top: 30px;
    background: #fff;
    z-index: 5;
    border: 1px solid #ccc;
}

#wdjd:hover #wdjdt,
#qycg:hover #qycgt,
#khfw:hover #khfwt,
#wzdh:hover #wzdht {
    background-color: #fff;
    border-color: #ccc;
}

#khfw:hover #khfw_inner {
    display: block;
}

#khfw_inner a {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    width: 115px;
    text-align: left;
}

#khfw_inner h3 {
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}

#khfw_inner a {
    width: 70px;
}

div.l {
    float: left;
    border: 1px solid #CCCCCC;
    padding: 2px;
}

div.r {
    float: left;
    padding-left: 5px;
    text-align: left;
}

/*公用footer*/

.footer .w {
    text-align: center;
    color: #999;
}

.footer p {
    line-height: 40px;
}

.footer a:hover {
    text-decoration: underline;
    color: #999;
}

.slogen {
    height: 54px;
    width: 1150px;
    background: #f5f5f5;
    border-bottom: 1px solid #DEDEDE;
    margin-left: 40px;
    padding: 20px 10px 20px 10px;
    position: relative;
}

.slogen .item {
    margin: 0 32px;
}

.shopping {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEDEDE;
}

.shopping dl {
    float: left;
    width: 238px;
}

.shopping dt {
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
}

.shopping dd {
    line-height: 20px;
    font-size: 10px;
}

.aginw {
    text-align: center;
    padding-top: 20px;
}

.links a {
    color: #666;
    font-size: 10px;
}

.links a:hover {
    color: #C81623;
}

.links .spacer {
    margin: auto 8px;
    color: #ccc;
}

.copyright {
    color: #999;
    padding-top: 6px;
    line-height: 25px;
}

.copyright .spacer {
    margin: auto 12px;
}

.copyright a {
    color: #999;
    font-size: 10px;
}

.copyright a:hover {
    color: #C81623;
}

.message {
    padding-top: 25px;
    padding-bottom: 20px;
}

.message a {
    display: inline-block;
    width: 103px;
    height: 32px;
}

.message a.icon1 {
    background: url("../images/sprite.footer.png") no-repeat -205px -148px;
}

.message a.icon2 {
    background: url("../images/sprite.footer.png") no-repeat -205px -111px;
}

.message a.icon3 {
    background: url("../images/sprite.footer.png") no-repeat -205px -74px;
}

.message a.icon4 {
    background: url("../images/sprite.footer.png") no-repeat -205px -36px;
}

.message a.icon5 {
    background: url("../images/sprite.footer.png") no-repeat -205px 0;
}

.message a.icon6 {
    background: url("../images/sprite.footer.png") no-repeat 0 -155px;
}

@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.woff') format('woff');
}

/* 地点 */
.iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    color: #F10215;
}

/* 下拉箭头 */
.iconfont1 {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    color: #AAA;
}

/* 放大镜 */
.iconfont2 {
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    color: white;
}

/* 购物车 */
.iconfont3 {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    color: white;
}